/* General styling */

* {
    font-family: "Ubuntu", sans-serif;
}

p {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Fira Sans", sans-serif;
}

.jumbotron {
    padding: 2rem;
    min-height: 100vh;
}

.centered {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Home component styling */

.home {
    background-color: #008080;

    color: #ccc;
}

.home a,
.home h1,
.home h2,
.home h3,
.home h4,
.home h5 {
    color: #aaa;
}

.about .checkbox {
    opacity: 0;
    position: absolute;
}

.about .label {
    background-color: #002233;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.about .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.about .checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.about .toggle-icon {
    font-size: 0.9rem;
}

/* Fun component styling */

.fun-bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f0fdfa 50%, #d8f4ef 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.fun-bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4.3s;
}

.fun-bg3 {
    animation-duration: 6.7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/* Typist component styling */

.typist .blinking {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.signature {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    width: 300px;
    padding: 10px;
    background-color: #00ced1;
    color: white;
    opacity: 0.9;
}

.signature .triangle {
    background-color: #00ced1;
    position: absolute;
    transform: rotate(50deg) translate(-15px, -60px);
    height: 60px;
    width: 80px;
    right: 300px;
}

.signature .blinking {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 125%;
}

.signature .typing {
    position: absolute;
    right: 10px;
}

/* Footer styling */

.footer {
    background-color: #002233;
    color: #ccc;

    font-size: 0.8rem;
    text-align: center;
}

.footer a {
    color: #aaa;
}

.footer .social::before {
    content: "/";
    font-size: 2.5rem;
    line-height: 2.5rem;
    float: left;
}

.footer .social::after {
    content: "/";
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: -2.5rem;
    float: right;
}
